:root {
	--sl-color-accent-low: #1a4d5e;
	--sl-color-accent: #00d4ff;
	--sl-color-accent-high: #b3efff;
}

:root[data-theme='dark'] {
	--sl-color-accent-low: #071d2a;
	--sl-color-accent: #00d4ff;
	--sl-color-accent-high: #b3efff;
	--sl-color-white: #f8f9fa;
	--sl-color-gray-1: #e0e0e0;
	--sl-color-gray-2: #a0a0a0;
	--sl-color-gray-3: #606060;
	--sl-color-gray-4: #383838;
	--sl-color-gray-5: #272727;
	--sl-color-gray-6: #1a1a1a;
	--sl-color-black: #121212;
}
